Source: ros-indigo-rqt-graphprofiler
Section: misc
Priority: extra
Maintainer: Dan Brooks <dan@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation
Homepage: http://wiki.ros.org/rqt_graphprofiler
Standards-Version: 3.9.2

Package: ros-indigo-rqt-graphprofiler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-message-runtime, ros-indigo-ros-topology-msgs, ros-indigo-rosprofiler, ros-indigo-rospy, ros-indigo-rqt-gui, ros-indigo-rqt-gui-py, ros-indigo-std-msgs
Description: An experimental visualization system for anonymous publish subscribe architectures.
